# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# IntelliJ / VS Code
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Others
*.iml
*.log
.DS_Store
